body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    }
.header {
    background-color: #476930;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 48px;
    padding: 12px;
}

.para1,.para2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}
.para1 {
    background-image: url("./images/scarifier.jpg");
    align-items: center;
    justify-content: center;
    min-height: 650px;
    display: flex;
}

.about {
    display: flex;
    color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding:12px;
    border-radius: 5%;
    opacity: 100%;
    text-align: center;
}

.info {
    padding: 48px;
    text-align: center;
    background-color: #476930;
    color: white;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*padding: 88px;*/
    padding: 10%;
    flex-direction: row;
    gap:48px;
}

.gallery img {
    width: 300px;
    height: 300px;
    border-color: gray;
    border-style: outset;
    border-radius: 10%;
}

.para2 {
    background-image: url("./images/patio.jpg");
    min-height: 650px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    gap: 32px;
    justify-content: center;
    background-color: #476930;
    color: white;
    display: flex;
    padding: 12px;
}
